bin/
.DS_Store
src-gen/


# Repast specific
Repast.settings
debug.log*
velocity.log*

**/.settings/org.eclipse.jdt.groovy.core.prefs
**/.settings/org.eclipse.jdt.core.prefs

code/output/

*.pyc
code/repast-licenses/
OLD/
analysis/2018-*
analysis/buggy_or_old/*
analysis/.ipynb_checkpoints/
code/scripts/.ipynb_checkpoints/
